<%- include("partials/header") -%>
<h1>Compose</h1>
<form class="text" name="postAll" , action="/compose" , method="post">
    <div class="form-group">
        <label for="Titleofpost">Title</label>
        <input type="text" name="postTitle" class="form-control" id="Titleofpost">

    </div>
    <div class="form-group">
        <label for="textarea">Post</label>
        <textarea name="postBody" id="" cols="30" rows="10" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Publish</button>
</form>
<%- include("partials/footer") -%>